.content-container {
  width: 100%;
}

.appointment-card{
  width: 100%;
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .content-container { 
    max-width: 800px;
  }
  .appointment-card{
    width: 350px;
    font-size: 13px;
  }
}

@media (min-width: 1200px) and (max-width: 1499px) {
  .content-container { 
    max-width: 1000px;
  }
  .appointment-card{
    width: 450px;
    font-size: 14px;
  }
}

@media (min-width: 1500px) and (max-width: 1799px) {
  .content-container { 
    max-width: 1000px;
  }
  .appointment-card{
    width: 450px;
    font-size: 14px;
  }
}

@media (min-width: 1800px) {
  .content-container { 
    max-width: 1200px;
  }
  .appointment-card{
    width: 550px;
    font-size: 16px;
  }
}
