.content-container {
  width: 100%;
}

.appointment-card{
  width: 100%;
}

@media (min-width: 200px) and (max-width: 600px) {
  .content-container{
    width: 100vw;
  }
  .text, .p-inputtext, .p-multiselect, .p-multiselect-option, .p-togglebutton , .p-multiselect, .p-multiselect-option, .p-togglebutton, .p-paginator-content , .p-multiselect, .p-multiselect-option, .p-togglebutton, .p-paginator-content {
    font-size: 12px !important;
  }
  .doctor-card{
    width: 180px;
  }
  .table-text, .add {
    font-size: 7px;
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .content-container { 
    max-width: 800px;
  }
  .appointment-card{
    width: 180px;
  }
  .text, .p-inputtext, .p-multiselect, .p-multiselect-option, .p-togglebutton , .p-multiselect, .p-multiselect-option, .p-togglebutton, .p-paginator-content {
    font-size: 13px;
  }
  .doctor-card{
    width: 220px;
  }
  .table-text, .add {
    font-size: 10px;
  }
}

@media (min-width: 1200px) and (max-width: 1499px) {
  .content-container { 
    max-width: 1000px;
  }
  .appointment-card{
    width: 210px;
  }
  .text, .p-inputtext, .p-multiselect, .p-multiselect-option, .p-togglebutton , .p-multiselect, .p-multiselect-option, .p-togglebutton, .p-paginator-content {
    font-size: 13px;
  }
  .doctor-card{
    width: 260px;
  }
  .table-text, .add {
    font-size: 12px;
  }
}

@media (min-width: 1500px) and (max-width: 1799px) {
  .content-container { 
    max-width: 1000px;
  }
  .appointment-card{
    width: 340px;
  }
  .text, .p-inputtext, .p-multiselect, .p-multiselect-option, .p-togglebutton , .p-multiselect, .p-multiselect-option, .p-togglebutton, .p-paginator-content {
    font-size: 14px;
  }
  .doctor-card{
    width: 210px;
  }
  .table-text, .add {
    font-size: 12px;
  }
}

@media (min-width: 1800px) {
  .content-container { 
    max-width: 1200px;
  }
  .appointment-card{
    width: 400px;
  }
  .text, .p-inputtext, .p-multiselect, .p-multiselect-option, .p-togglebutton , .p-multiselect, .p-multiselect-option, .p-togglebutton, .p-paginator-content {
    font-size: 15px;
  }
  .doctor-card{
    width: 210px;
  }
  .table-text, .add {
    font-size: 13px;
  }
}
